{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
{% endblock meta %}

{% block title %}India's No.1 Software & Digital Marketing Company{% endblock title %}


{% block body %}
    

<div class="container">
    <p class="SatrtHeading">.بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
</div>
<main>
    <section class="heroSection">
        <div class="slider">
            <a href="tel: +916398516946"><button class="slidr-btn"> Call Now</button></a>
        </div>
    </section>
</main>

<!-- heroServices Section Start here  -->

<section class="section heroServices">
    <div>
        <h1 class="sectionHeding">Top Business Services</h1>
    </div>
    <div class="card-items">
        <div class="card">
            <div class="img">
                <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Software Development</h2>
                <p class="card-para">We design, develop, and deploy software solutions that meet your business
                    needs.
                    We are committed to providing you with the best possible service and support.
                </p>
                <a href="services">Learn more ></a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/DigitalMarketing.jpg" alt="Digital Marketing">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Digital Marketing</h2>
                <p class="card-para">We help businesses reach their target audience through digital channels and we
                    use a variety of digital marketing strategies to increase brand awareness, generate leads, and
                    drive sales.
                </p>
                <a href="services">Learn more ></a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/WebDevelopment1.jpg" alt="Web Development">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Web Development</h2>
                <p class="card-para">We build beautiful, functional, and user-friendly websites and we use the
                    latest technologies and best practices to ensure that your website is secure, reliable, and
                    scalable.
                </p>
                <a href="services">Learn more ></a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/img/FacebookAds.jpg" alt="FacebookAds">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Facebook Ads</h2>
                <p class="card-para">We help businesses reach their target audience on Facebook and we create
                    effective Facebook ads that drive results and we are also committed to helping businesses
                    achieve their marketing goals.
                </p>
                <a href="services">Learn more ></a>
            </div>
        </div>
    </div>
</section>

<!-- Number Counter Section Start here  -->

<section class="section heroNumberCounter">
    <div class="numberCounterContainer">
        <div class="ach-box">
            <h3 class="Counter-Number count-ani-1" data-numbers="2000">0+</h3>
            <h4 class="number-hedings">Software Development</h4>
            <p class="number-para">Projects Successfully Complete</p>
        </div>
        <div class="ach-box">
            <h3 class="Counter-Number count-ani-3" data-numbers="5000">0+</h3>
            <h4 class="number-hedings">Digitial Marketing</h4>
            <p class="number-para">Projects Successfully Complete</p>
        </div>
        <div class="ach-box">
            <h3 class="Counter-Number count-ani-2" data-numbers="6000">0+</h3>
            <h4 class="number-hedings">Web Development</h4>
            <p class="number-para">Projects Successfully Complete</p>
        </div>
        <div class="ach-box">
            <h3 class="Counter-Number count-ani-4" data-numbers="8000">0+</h3>
            <h4 class="number-hedings">Facebook Ads</h4>
            <p class="number-para">Projects Successfully Complete</p>
        </div>
    </div>
</section>
{% endblock body %}


