{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <title>India's No.1 Software & Digital Marketing Company</title>
</head>

<body>
    <header class="navBar">
        <div class="logo">
            <span><a href="index">Microintelligence Software</a></span>
        </div>
        <nav class="mainNav">
            <div class="nav-list">
                <ul class="nav-item">
                    <li class="navlink"><a href="index">Home</li></a>
                    <li class="navlink"><a href="about">About</li></a>
                    <li class="navlink"><a href="services">Services</li></a>
                    <li class="navlink"><a href="contact">Contact US</li></a>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <p class="SatrtHeading">.بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
    </div>
    <main>
        <section class="section heroSection">
            <div class="slider">
                <a href="tel: +916398516946"><button class="slidr-btn"> Call Now</button></a>
            </div>
        </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>

</body>

</html>