{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock meta %}

{% block title %}Microintelligence | Services{% endblock title %}


{% block body %}

<section class="section">
    <div>
        <h1 class="sectionHeding">Domestic Services</h1>
    </div>
    <h3>Coming Soon!</h3>
    <!-- <div class="card-items">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Mumbai</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="software_development_mumbai">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Delhi</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="software_development_delhi">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Heydrabad</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="software_development_heydrabad">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/software_development_bengaluru.png" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Bengaluru</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="software_development_bengaluru">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/software_development_lucknow.png" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Lucknow</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="software_development_lucknow">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/software_development_bareilly.png" alt="Software Development">
                        </div>
                        <div class="services-dec">
                            <h2 class="services-dec-heading">Software Development in Bareilly</h2>
                            <p class="services-card-para">We design, develop, and deploy software solutions that meet
                                your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="sofware_development_bareilly">Learn more ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



       ################################################  first card end here ########################################### 



        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
                        </div>
                        <div class="dec">
                            <h2 class="dec-heading">Software Development</h2>
                            <p class="card-para">We design, develop, and deploy software solutions that meet your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="services">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
            </div>
        </div>



        ################################################  Secound card end here ########################################





        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="Services-card">
                        <div class="img">
                            <img src="../static/img/SoftwareDevelopment.jpg" alt="Software Development">
                        </div>
                        <div class="dec">
                            <h2 class="dec-heading">Software Development</h2>
                            <p class="card-para">We design, develop, and deploy software solutions that meet your
                                business
                                needs.
                                We are committed to providing you with the best possible service and support.
                            </p>
                            <a href="services">Learn more ></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
            </div>
        </div>


        ################################################  Thired card end here ##########################################
    </div> -->


    <div>
        <h1 class="sectionHeding">Foreign Services</h1>
    </div>
    <h3>Coming Soon!</h3>

</section>

{% endblock body %}