/* Nav Bar Start here  */
@media screen and (max-width:760px) {
    .navBar{
        display: block;
        height: auto;
        overflow-x: hidden;
    }

    .nav-item{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 10s linear;
    }

    .nav-item .navlink{
        padding: 2rem 0rem;
    }
    .logo{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 3.5rem;
        margin-left: 2.5rem;
    }

    .burger{
        opacity: unset;
    }
    .hidden{
        display: none;
    }
}









/* Slider Start Here  */

@media screen and (max-width:997px) {
    .slider{
        height: 50vh;
        background-image: url('../img/slider-sm-1.png');
    }

    @keyframes slider {
        0%{background-image: url('../img/sliderImg-sm-2.png');}
        35%{background-image: url('../img/sliderImg-sm-3.png');}
        75%{background-image: url('../img/slider-sm-4.png');}
    }

}

@media screen and (max-width:414px) {
    .slider{
        height: 32vh;
        background-image: url('../img/slider-sm-1.png');
    }

    .slidr-btn{
        width: 5rem;
        height: 1.5rem;
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }

    @keyframes slider {
        0%{background-image: url('../img/sliderImg-sm-2.png');}
        35%{background-image: url('../img/sliderImg-sm-3.png');}
        75%{background-image: url('../img/slider-sm-4.png');}
    }

}

@media screen and (max-width:858px) {
    .slidr-btn{
        margin-left: 18vw;
    }

}

@media screen and (max-width:540px) {
    .slidr-btn{
        margin-left: 10vw;
    }

}


/* Card Start here  */


@media screen and (max-width:1292px) {
    .card-items{
        flex-wrap: wrap;
    }
    .card{
        margin-bottom: 2.5rem;
    }

}

/* footer start here  */

@media screen and (max-width:803px) {
    .footer{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 20vh;
    }

    .copyRight{
        line-height: 2rem;
    }

}


/* Number Counter Contaner Start here  */

@media screen and (max-width:600px) {
    .numberCounterContainer{
        flex-wrap: wrap;
        height: auto;
    }
}


/* about page start here  */


@media screen and (max-width:760px) {
    .about-container{
        flex-wrap: wrap-reverse;
        overflow-x: hidden;
    }
}



/* error page strt here  */


@media screen and (max-width:869px) {
    .resone-error{
        flex-wrap: nowrap;
        text-align: center;
    }
    .four-error{
        flex-wrap: nowrap;
        text-align: center;
    }
}

