{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="google-adsense-account" content="ca-pub-9462364247713578">
{% endblock meta %}

{% block title %}Microintelligence | About US{% endblock title %}


{% block body %}
    <section class="section">
        <div class="about-container">
            <div class="content">
                <h2 class="sectionHeding"> About Us</h2>
                <p class="about-para"><b>Microintelligence Software</b>, we specialize in software and digital marketing solutions. Our expert team delivers custom software development services, including web and mobile applications, tailored to your specific needs. We also excel in digital marketing strategies like SEO, PPC advertising, social media marketing, content marketing, and email marketing. With our data-driven approach and commitment to customer satisfaction, we help businesses optimize their online presence and achieve their marketing goals. Contact us today for innovative software solutions and results-driven digital marketing campaigns.</p>
            </div>
            <div class="about-page-img">
                <img src="../static/img/MIS_Logo.jpg" alt="logo" class="about-Img">
            </div>
        </div>
    </section>

{% endblock body %}


