{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock meta %}

{% block title %}Microintelligence | Services{% endblock title %}


{% block body %}

<section class="section">
    <div>
        <h1 class="sectionHeding">Business Services</h1>
    </div>
    <div class="card-items">
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/tmq83Fh/Software-Development.jpg" alt="Software-Development" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Software Development</h2>
                <p class="card-para">We design, develop, and deploy software solutions that meet your business
                    needs.
                    We are committed to providing you with the best possible service and support.
                </p>
                <div class="card-href">
                    <!-- <a href="view_software_development">View more ></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/W5k9BXj/Web-Development1.jpg" alt="Web-Development1" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Web Development</h2>
                <p class="card-para">We build beautiful, functional, and user-friendly websites and we use the
                    latest technologies and best practices to ensure that your website is secure, reliable, and
                    scalable.
                </p>
                <div class="card-href">
                    <!-- <a href="view_web_development">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/drzVHmS/WebApp.jpg" alt="WebApp" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Application Development</h2>
                <p class="card-para">Our team of skilled developers, designers, and strategists collaborate closely with
                    you to understand your unique needs and challenges. Whether you require a web application, or custom
                    software solution.
                </p>
                <div class="card-href">
                    <!-- <a href="view_app_development">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/VvqPmVd/Blog-Development.jpg" alt="Blog-Development" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Blog Development</h2>
                <p class="card-para">Elevate your online presence with our expert Blog Development service. We create
                    engaging, SEO-friendly blogs that captivate your audience and boost your brand's visibility.
                </p>
                <div class="card-href">
                    <!-- <a href="view_blog_development">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-items">
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/QDkDMvx/Landing-Page.jpg" alt="Landing-Page" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Landing Page Development</h2>
                <p class="card-para">Capture visitors and drive conversions with our Landing Page Development service.
                    Our expert team crafts sleek, responsive landing pages that maximize user engagement and propel your
                    business towards success.
                </p>
                <div class="card-href">
                    <!-- <a href="view_landing_page_development">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/D84YyYN/Digital-Marketing.jpg" alt="Digital-Marketing" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Digital Marketing</h2>
                <p class="card-para">We help businesses reach their target audience through digital channels and we
                    use a variety of digital marketing strategies to increase brand awareness, generate leads, and
                    drive sales.
                </p>
                <div class="card-href">
                    <!-- <a href="view_digital_marketing">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/LYdMsD7/SEO.jpg" alt="SEO" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Search Engine Optimization (SEO)</h2>
                <p class="card-para">Our proven strategies enhance your website's ranking, attract more visitors, and
                    boost your online presence, ultimately increasing your business's success.
                </p>
                <div class="card-href">
                    <!-- <a href="view_seo">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/FsnDtYr/Facebook-Ads.jpg" alt="Facebook-Ads" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Facebook Ads</h2>
                <p class="card-para">We help businesses reach their target audience on Facebook and we create
                    effective Facebook ads that drive results and we are also committed to helping businesses
                    achieve their marketing goals.
                </p>
                <div class="card-href">
                    <!-- <a href="view_facebook_ads">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-items">
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/x6wBnK9/Google-Ads.jpg" alt="Google-Ads" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Google Ads</h2>
                <p class="card-para">Boost your business with targeted precision using our Google Ads service. Our
                    expert team crafts strategic ad campaigns that maximize your ROI, increase brand visibility, and
                    drive quality leads to help you achieve your marketing goals efficiently.
                </p>
                <div class="card-href">
                    <!-- <a href="view_google_ads">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://i.ibb.co/LJ0hfrW/Web-Hosting.jpg" alt="Web-Hosting" border="0">
            </div>
            <div class="dec">
                <h2 class="dec-heading">Web Hosting</h2>
                <p class="card-para">Reliable and lightning-fast web hosting services are our specialty. Enjoy seamless
                    website performance, robust security, and 24/7 support with our Web Hosting service.
                </p>
                <div class="card-href">
                    <!-- <a href="view_web_hosting">View more></a> -->
                    <a href="book_online">Book Now ></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}